<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
    <form method="POST">
        Username <input type="text" name = 'username'value="{{lgd.username}}"> <br>
        password <input type="password" name = 'password'value="{{lgd.password}}"> <br>
        {% csrf_token %} <br>
        <br>
        <input type="submit" value="upate">

    </form>
        
    {% endblock content %}
        
</body>
</html>